<!-- <p>show-details works!</p> -->
<div class="row" *ngIf="listing$ | async">
    <div class="col-lg-8 col-mb-5">
        <div class="row">
            <div class="col-md-12">
                <span class="material-icons" style="border: 2px #177fca solid;
                  border-radius: 50%;
                  color: #177fca;cursor: pointer;" title="Back to listing" (click)="back()">
                  arrow_back
                </span>
                <span style="font-size: .75em;vertical-align: top; margin-left: 10px;">Back to Listing</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 col-sm-12">
                <img attr.src="{{serverUrl}}{{listing.rentalProperty.propertyImg[imgIndex].propertyImgUrl}}" width="250" height="180" alt="">
            </div>
            <div class="col-md-7">
                <div class="row">
                    <div style="margin-right: 25px; font-weight: bold;">Address:</div>
                    <div>
                        {{listing.rentalProperty.address.streetNum}}<br> {{listing.rentalProperty.address.city}} {{listing.rentalProperty.address.stateProvince}}<br> {{listing.rentalProperty.address.zipPostCode}}
                        <br> {{listing.rentalProperty.address.country}}
                    </div>
                </div>

                <div class="row" style="margin-top: 15px;">
                    <div>
                        <ul style="list-style: none;">
                            <!-- <a  > -->
                            <a *ngFor="let img of listing.rentalProperty.propertyImg let i = index;" style="display: inline;cursor: pointer;" (click)="showFullsize(i)">
                                <img attr.src="{{serverUrl}}{{img.propertyImgUrl}}" width="50px" height="50px" style="margin-right: 5px;">
                                <!-- {{i}} -->
                            </a>
                            <!-- </a> -->
                        </ul>
                    </div>
                </div>

            </div>
        </div>

        <div style="margin-bottom: 25px;margin-top: 30px;">
            {{listing.listingDesc}}
        </div>
        <div style="margin-bottom: 25px;">
            <span style="font-weight: bold;">Contact:</span>
            <p>
                {{listing.contact.contactName}}<br> TEL: {{listing.contact.contactTel}}<br> EMAIL: {{listing.contact.contactEmail}}
            </p>
        </div>

    </div>
    <div class="col-lg-4 col-mb-5">
        <!-- <p>Application Form</p> -->
        <mat-card class="application-card">
            <mat-card-content>
                <p>Fill the form to apply for tenancy</p>
                <p class="form-header">Application Form</p>
                <form style="margin-top: -20px;max-height: 650px;overflow: auto;" [formGroup]="appForm" (ngSubmit)="submit()">
                    <div class="form-container" style="border: 1px solid grey;">
                        <!-- <mat-form-field class="form-content" style="margin-top: 20px;">
                            <mat-icon matSuffix>person</mat-icon>
                            <input hidden formControlName="rentalPropertyId" matInput placeholder="id">
                        </mat-form-field> -->
                        <mat-form-field class="form-content" style="margin-top: 20px;">
                            <mat-icon matSuffix>person</mat-icon>
                            <input formControlName="firstName" matInput placeholder="First Name">
                        </mat-form-field>
                        <mat-form-field class="form-content">
                            <mat-icon matSuffix>person</mat-icon>
                            <input formControlName="lastName" matInput placeholder="Last Name">
                        </mat-form-field>

                        <mat-form-field class="form-content">
                            <mat-icon matSuffix>phone</mat-icon>
                            <input formControlName="contactTel" matInput placeholder="Contact Telepone">
                        </mat-form-field>

                        <mat-form-field class="form-content">
                            <mat-icon matSuffix>email</mat-icon>
                            <input formControlName="contactEmail" matInput placeholder="Contact Email">
                        </mat-form-field>

                        <mat-form-field class="form-content">
                            <mat-label>Imigration Status</mat-label>
                            <mat-select formControlName="status" #mySelect (selectionChange)="onStatusChange(mySelect.value)">
                                <mat-option [value]=0></mat-option>
                                <mat-option [value]=1>Canadian Citizen</mat-option>
                                <mat-option [value]=2>Permenant Resident</mat-option>
                                <mat-option [value]=3>Visitor Visa</mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field class="form-content" style="margin-top: 20px;">
                            <mat-icon matSuffix>supervisor_account</mat-icon>
                            <input matInput type="number" matInput placeholder="Number of people" formControlName="numberOfOccupant">
                        </mat-form-field>


                        <mat-form-field class="form-content">
                            <mat-icon matSuffix>insights</mat-icon>
                            <input formControlName="creditRating" type="text" matInput placeholder="Credit Score">
                        </mat-form-field>

                        <mat-checkbox formControlName="withChildren" style="margin-left: 15px;">With Children</mat-checkbox>

                        <mat-form-field class="form-content">
                            <mat-label>Employment Status</mat-label>
                            <mat-select formControlName="empoyedStatus" #mySelect (selectionChange)="onStatusChange(mySelect.value)">
                                <mat-option [value]=0></mat-option>
                                <mat-option [value]=1>Employed</mat-option>
                                <mat-option [value]=2>Self-Employed</mat-option>
                                <mat-option [value]=3>Student</mat-option>
                                <mat-option [value]=4>Other</mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field class="form-content">
                            <mat-icon matSuffix>save_alt</mat-icon>
                            <input formControlName="annualIncome" type="number" matInput placeholder="Annual Income">
                        </mat-form-field>

                        <mat-form-field class="form-content">
                            <textarea formControlName="reasonToMove" matInput placeholder="Reason to move"></textarea>
                        </mat-form-field>
                        <button type="submit" class="form-content" mat-raised-button color="primary" style="margin-bottom: 10px;">Submit</button>
                        <button type="button" class="form-content" mat-raised-button color="accent" style="margin-bottom: 15px;" (click)="clear()">Reset</button>
                    </div>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
</div>
