.applicaton-card {
    background: #fafafa;
    color: #212121;
}

.form-container {
    display: flex;
    flex-direction: column;
}

.field-container {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.form-container>* {
    width: 90%;
}

.form-content {
    // width: 90%;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
}

.form-header {
    font-weight: bold;
    background: #45b8f7;
    padding: 10px;
    color: white;
}

.title {
    font-weight: 500;
}

.sub-title {
    font-size: .75em;
}

.symbol {
    width: 30px !important;
    margin-left: auto;
    margin-right: auto;
    // margin-top: 10px;
    margin-bottom: 10px;
}

.button {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.dropZone {
    padding: 20px;
    border: 1px solid;
    margin-left: 15px;
    margin-bottom: 10px;
}

.e-toolbar-wrapper {
    height: 0px !important;
}

.e-control.e-richtexteditor {
    border: none;
}

.e-control.e-richtexteditor .e-rte-content {
    border: none;
}

// .e-richtexteditor .e-rte-content .e-content,
// .e-richtexteditor .e-source-content .e-content {
//     // overflow-y: scroll;
//     height: 460px;
// }
.e-richtexteditor .e-rte-hidden {
    display: none;
}

.e-toolbar-item .e-template .e-toolbar-popup {
    display: none !important;
}
