<!-- <p>show-details works!</p> -->
<div class="row">
    <div class="col-lg-8 col-mb-5">
        <div class="row">
            <div class="col-md-12">
                <span class="material-icons" style="border: 2px #177fca solid;
                  border-radius: 50%;
                  color: #177fca;cursor: pointer;" title="Back to listing" (click)="back()">
                  arrow_back
                </span>
                <span style="font-size: .75em;vertical-align: top; margin-left: 10px;">Back to Listing</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 col-sm-12">
                <img src="http://placehold.it/300x200" style="width: 100%;">
            </div>
            <div class="col-md-7">
                <div class="row">
                    <p>Address:</p>
                    <p></p>
                </div>
                <div class="row">
                    <div>
                        more images
                    </div>
                </div>

            </div>
        </div>

        <div>
            Descriptions
        </div>

    </div>
    <div class="col-lg-4 col-mb-5">
        <p>Application Form</p>
    </div>
</div>
