.contact-card {
    background: #fafafa;
    color: #212121;
    height: 372px;
}

.card-title {
    font-size: .9em;
}

.card-text {
    font-size: .74em;
}

.card-footer {
    text-align: center;
}
