<style>
    .loader {
        border: 16px solid #f3f3f3;
        border-radius: 50%;
        border-top: 16px solid #3498db;
        width: 120px;
        height: 120px;
        -webkit-animation: spin 2s linear infinite;
        /* Safari */
        animation: spin 2s linear infinite;
    }
</style>

<div class="row">
    <div class="col-6" style="margin-left: 15px; margin-right: 15px;">
        <mat-form-field appearance="fill">
            <mat-icon matSuffix>search</mat-icon>
            <mat-label>Type whatever you need to find</mat-label>
            <input matInput>
            <!-- <span class="icon-pos" matPrefix><mat-icon>search</mat-icon> &nbsp;</span> -->
        </mat-form-field>
    </div>
</div>
<div class="row" style="padding-left: 15px; padding-right: 15px;" *ngIf="listing$ | async; else loading">
    <div *ngFor="let list of listing$ | async" class="col-lg-3 col-md-6 mb-4">
        <div class="card" *ngIf="listing$ | async">
            <img class="card-img-top" attr.src="{{serverUrl}}{{list.rentalProperty.propertyImg[0].propertyImgUrl}}" width="100" height="180" alt="">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-5" style="margin-right: -10px;">
                        <h4 class="card-title">{{list.title}}</h4>
                    </div>
                    <div class="col-md-7" style="margin-left: -10px;">
                        <p class="card-text">{{list.listingDesc | slice:0:100}}</p>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <button routerLink="details/{{list.id}}" class="btn btn-outline-dark">Find Details!</button>
            </div>
        </div>


        <!-- <div *ngIf="!(listing$ | async) || (listing$ | async).lenght === 0">
            <p>
                No listing at this time!
            </p>
        </div> -->
    </div>
</div>
<div *ngIf="!(listing$ | async) || (listing$ | async).lenght === 0">
    <p>
        No listing at this time!
    </p>
</div>
<ng-template #loading>
    <p style="text-align: center; margin-top: 10px;">
        Loading....
    </p>
    <!-- <div style="text-align: center; margin-top: 10px;" class="loader"></div> -->
</ng-template>


<!-- </div> -->