<div class="property-banner">
    <!-- <mat-toolbar class="main-toolbar"></mat-toolbar> -->
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-mb-5">
            <header class="jumbotron my-4">

                <h1 class="display-3"><img src="../../assets/images/4rent.jpg" height="100px" width="100px" style="border-radius: 50%; margin-right: 25px;">All For Rent!</h1>
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, ipsam, eligendi, in quo sunt possimus non incidunt odit vero aliquid similique quaerat nam nobis illo aspernatur vitae fugiat numquam repellat.</p>
                <!-- <a href="#" class="btn btn-outline-dark btn-lg">Find</a> -->
            </header>
        </div>
        <div class="col-lg-4 col-mb-5" style="margin-top: 25px;">
            <mat-card class="contact-card">
                <img mat-card-image src="../../assets/images/investment.jpg" alt="Investing Realestate">
                <mat-card-content>

                    <span class="material-icons" style="vertical-align: bottom;margin-right: 15px; color: red;">
                      fingerprint
                    </span>
                    <span><span style="font-weight: bold;">Home owners:</span>, if you have investment properties in the market, and would like to have cash flow, We can help</span>
                    <p style="margin-top: 5px;">
                        <button [routerLink]="'/services'" mat-stroked-button>For more details</button>
                    </p>

                </mat-card-content>
            </mat-card>
        </div>
    </div>


    <!-- <app-show-details></app-show-details> -->
    <router-outlet></router-outlet>


</div>
